main {
    display: grid;
    justify-content: center;
    width: 100%;
}

.main {
    display: grid;
    justify-content: center;
    padding: 2%;
}

@media (max-width:500px) {
    .main {
        padding: 0;
        margin: 5%;
    }
}