@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

.block_1 {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 35px;
    justify-items: center;
}

.block_1-left {
    width: 100%;
    max-width: 540px;
    display: grid;
    gap: 24px;
}

.button_1 {
    border-radius: 8px;
    background: #8EADD5;
    border: none;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: calc(14px + 2 * (100vw / 1440));
    font-weight: 400;
    width: 167px;
    height: 48px;
    transition: background-color .3s ease, color .3s ease;
    cursor: pointer;
    text-transform: uppercase;
}

.button_1:hover {
    background-color: #F6F6F6;
    color: #8EADD5;
}

.button_1:active {
    background-color: #8EADD5;
    color: #FFFFFF;
}

.title_1-bold {
    color: #272D38;
    font-family: 'Inter', sans-serif;
    font-size: calc(40px + 24 * (100vw / 1440));
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
}

.text_1-light {
    color: #272D38;
    font-family: 'Inter', sans-serif;
    font-size: calc(16px + 2 * (100vw / 1440));
    font-weight: 400;
}

@media (max-width:1090px) {
    .block_1 {
        grid-template-columns: auto;
        text-align: center;
    }

    .block_1-left {
        text-align: center;
        display: grid;
        justify-items: center;
    }
}

@media (max-width:440px) {
    .block_1 {
        grid-template-columns: auto;
    }


    .block_1-right {
        display: grid;
        justify-content: center;
    }

    .block_1-right svg {
        width: 380px;
    }
}

@media(max-width:400px) {
    .block_1-right svg {
        width: 250px;
    }
}