@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

.block_2 {
    margin-top: 157px;
    display: grid;
    gap: 25px;
}

.text_block_2 {
    text-align: center;
    color: #667085;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 100%;
    text-transform: capitalize;
}

.icons_block_2 {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    background: #F6F6F6;
    padding: 19px 0;
}

.icons svg path {
    cursor: pointer;
    transition: fill .3s ease;
}

.icons:hover svg path {
    fill: #8EADD5;
}

@media(max-width:440px) {
    .icons svg {
        width: 60px;
        height: 40px;
    }

    .icons_block_2 {
        margin: 5%;
    }
}